@font-face {
  font-family: "thunFont";
  src: url("/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.thunder-subhead {
  font-family: "thunFont";
  letter-spacing: 0.1vw;
  margin: 0px;
}

.featured_events_section {
  /* margin: 0 auto; */
  background-color: #f8f1de;
  width: 100%;
  padding: 0 1vw;
  padding-top: 2vh;
  padding-bottom: 7vh;
  outline: 2px dashed;
  outline-offset: -10px;
}
.modules_section {
  /* margin: 0 auto; */
  background-color: #f8f1de;
  width: 100%;
  padding: 0 1vw;
  padding-top: 2vh;
  padding-bottom: 7vh;
  outline: 2px dashed;
  outline-offset: -10px;
}

.modules_section span {
  position: absolute;
  color: white;
  top: 85%;
  font-family: "thunFont", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vmax;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.header_events {
  font-family: "thunFont";
  font-size: 5vmax;
  margin: 4vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item1 {
  position: relative;
  grid-area: pronites;
  display: flex;
  justify-content: center;
}
.item2 {
  position: relative;

  grid-area: footfall;
}
.item3 {
  position: relative;

  grid-area: creator_camp;
}
.item4 {
  position: relative;

  grid-area: critical_damage;
}
.item5 {
  position: relative;

  grid-area: informals;
}

.img_grid {
  width: 100%;
  border-radius: 15px;
}

.featured_events_section span {
  position: absolute;
  color: white;
  bottom: 1vmin;
  font-family: "thunFont", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vmax;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.spann {
  position: absolute;
  color: white;
  bottom: 1vmin;
  font-family: "thunFont", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vmax;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.grid_container {
  height: max-content;

  display: grid;
  grid-template-areas:
    "pronites pronites pronites pronites pronites creator_camp creator_camp creator_camp creator_camp creator_camp creator_camp creator_camp"
    "pronites pronites pronites pronites pronites critical_damage critical_damage critical_damage informals informals informals informals"
    "footfall footfall footfall footfall footfall  critical_damage critical_damage critical_damage informals informals informals informals";
  gap: 1vmin;

  padding: 2.5vmax;
}

@media (max-width: 440px) {
  .item2 {
    display: none;
  }
  .grid_container {
    display: grid;
    /* width: 100%; */
    height: max-content;
    grid-template-areas:
      "creator_camp creator_camp creator_camp creator_camp creator_camp creator_camp creator_camp"
      "pronites pronites pronites pronites pronites pronites pronites"
      "pronites pronites pronites pronites pronites pronites pronites"
      "critical_damage critical_damage critical_damage informals informals informals informals";
  }
}
