@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "thunFont";
  src: url("/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.topSection {
  height: 57.56vw;
  width: 100%;
  overflow-x: hidden;
  background-color: #f8f1de;
}

.check_txt {
  height: 5.34vw;
  width: 100vw;
  color: #201e1d;
  padding-bottom: 1vw;
}

.img_box {
  height: 32.5vw;
  width: 93.05vw;
  border-radius: 1vw;
}

@media (max-width: 440px) {
  .img_box {
    height: 120vw;
    @apply rounded-3xl;
    margin-bottom: 5vh;
  }
  .topSection {
    min-height: 100vh;
    max-height: fit-content;
    padding-bottom: 5vh;
  }
  .overview_txt {
    @apply px-4;
    width: 100%;
    height: fit-content !important;
  }
  .box_1,
  .box_2 {
    height: fit-content !important;
    width: 100% !important;
    justify-content: start !important;
  }

  .box_2 > p {
    width: 100%;
  }
}

.name_box {
  height: 8vw;
  border-radius: 0 0 2vw 2vw;
  background: #f8f1de;
}

.name_box > p {
  font-family: "thunFont";
  padding: 0vw 3.5vw;
  font-size: 8.89vmax;
  font-weight: 500;
  letter-spacing: 2%;
  color: #201e1d;
}

.overview_txt {
  height: 19.72vw;
  width: 93.05vw;
  color: #201e1d;
}

.txt1 {
  font-size: 1.67vmax;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.box_1 {
  height: 100%;
  width: 30vw;
}

.box_1 > p {
  font-weight: 500;
  font-size: 5vmax;
  font-family: "thunFont";
  color: #201e1d;
}

.box_2 {
  height: 100%;
  width: 60vw;
}

.box_2 > p {
  font-weight: 400;
  font-size: 1.6vmax;
  font-family: "DM Sans", sans-serif;
  color: #201e1d;
}
