@font-face {
  font-family: "thunFont";
  src: url("/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.main-photo img{
  width: 100vw;
}
.page-container {
  padding: 5vw 2vw;
  border-radius: 20px;
  background-color: #f8f1de;
  outline: 2px dashed;
  outline-offset: -13px;
}

.section-container {
  margin-bottom: 4vh;
}

h2 {
  text-align: center;
  margin-bottom: 3vh;
  font-family: "thunFont";
  font-size: 3rem;
  text-decoration-color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}

.profile-grid {
  display: flex;
  background-color: #f8f1de;
  justify-content: space-around;
}
.profile-grid2 {
  display: flex;
  background-color: #f8f1de;
  justify-content: space-around;
}
.two{
  gap:6rem;
  justify-content: center !important;
}

.profile-grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Forces two columns */
  gap: 2vw;
  justify-content: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vw;
  border-radius: 1vw;
  text-align: center;
}

.profile-image {
  width: 20vw;
  /* border-radius: 10%; */
  object-fit: cover;
  margin-bottom: 1.5vh;
  align-content: center;
}

.profile-card h3 {
  font-size: 2vw;
  font-weight: 700;
}
.role{
  font-weight: 500;
  font-size: 1.5vw !important;
}
.profile-card p {
  margin: 0.5vh 0;
  font-size: 1.1vw;
}
@media screen and (max-width: 700px) {
  .profile-grid {
    align-items: center;
    flex-direction: column;
  }
  .profile-grid2 {
    align-items: center;
    flex-direction: column;
  }
  /* .profile-grid-two-columns {
    grid-template-columns: 1fr; /* Forces one column */
  /* } */ 
  .role{
    font-size: 1.2rem !important;
  }
  .profile-card p{
    font-size: 0.8rem;
  }
  .profile-card h3{
    font-size: 1.4rem;
  }
  .profile-image {
    width: 20rem;
  }
  .two{
    gap:0;
  }
}
@media screen and (min-width: 1300px){
  h2{
    font-size:4rem;
  }
}
@media screen and (max-width: 500px) {
  .profile-image {
    width: 15rem;
  }
  .role{
    font-size: 1rem !important;
  }
  .profile-card h3 {
    font-size: 1.2rem;
  }
  h2{
    font-size: 1.9rem;
    padding: 0;
    margin-bottom: 0;
  }
  .page-container {
    padding-top: 7vw;
  }
  .profile-card p {
    font-size: 0.8rem;
  }
}