@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #201e1d;
}
@font-face {
  font-family: "thunFont";
  src: url("/Thunder-BlackLC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.splide__slide.is-active div div {
  opacity: 100%;
}

.splide__slide div div {
  opacity: 0%;
  transition: all 0.3s ease;
}

.splide__slide.is-active div {
  height: fit-content;
  opacity: 100%;
  background-color: #201e1d;
  padding: 1.25rem 1rem;
  border-radius: 30px;
}

.splide__slide div {
  opacity: 50%;
  background-color: white;
  transition: all 0.3s ease;
}

.splide__slide.is-next div {
  transform: scale(0.9);
}

.splide__slide.is-prev div {
  transform: scale(0.9);
}

.splide__arrow.splide__arrow--next {
  position: absolute;
  right: 20vw;
}
.splide__arrow.splide__arrow--prev {
  position: absolute;
  left: 20vw;
}

@media (max-width: 900px) {
  .splide__arrow.splide__arrow--next {
    position: absolute;
    right: 12vw;
  }
  .splide__arrow.splide__arrow--prev {
    position: absolute;
    left: 12vw;
  }
}

@media (max-width: 600px) {
  .splide__arrow.splide__arrow--next {
    position: absolute;
    right: 7vw;
  }
  .splide__arrow.splide__arrow--prev {
    position: absolute;
    left: 7vw;
  }
  .mobile {
    display: flex;
  }
  .web {
    display: none;
  }
}
@media (max-width: 500px) {
  .splide__arrow.splide__arrow--next {
    position: absolute;
    right: 1vw;
  }
  .splide__arrow.splide__arrow--prev {
    position: absolute;
    left: 1vw;
  }
}
